body
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color: #fff;
	background-color: #451620;
}

div.playerHand{
	float:right;
	margin-right: 50px;
}

div.playerCard{
	margin: 20px -30px 0 0;
	float:left;
}

div.playerDropSpot{
	width:105px;
	height:140px;
	border:solid 1px silver;
	color:silver;
	float:left;
	margin: 20px 10px;
	line-height:8;
	text-align:center;
}

div.playerCard:hover{
	margin-top: 0px;
	cursor:pointer;
}

div.playerName{
	width: 150px;	
	float:left;
	line-height:10;
}

.droppedCard{
	position:absolute;
	left:170px;	
	z-index:2;
}

.card
{
	width:100px;
	height:140px;
	background:url('../images/cards.png');
	background-repeat:no-repeat;		
}

.oro-1  { background-position:  0px 0px; }
.oro-2  { background-position:  -100px 0px; }
.oro-3  { background-position:  -200px 0px; }
.oro-4  { background-position:  -300px 0px; }
.oro-5  { background-position:  -400px 0px; }
.oro-6  { background-position:  -500px 0px; }
.oro-7  { background-position:  -600px 0px; }
.oro-10 { background-position:  -700px 0px; }
.oro-11 { background-position:  -800px 0px; }
.oro-12 { background-position:  -900px 0px; }

.copa-1  { background-position:  0px -140px; }
.copa-2  { background-position:  -100px -140px; }
.copa-3  { background-position:  -200px -140px; }
.copa-4  { background-position:  -300px -140px; }
.copa-5  { background-position:  -400px -140px; }
.copa-6  { background-position:  -500px -140px; }
.copa-7  { background-position:  -600px -140px; }
.copa-10 { background-position:  -700px -140px; }
.copa-11 { background-position:  -800px -140px; }
.copa-12 { background-position:  -900px -140px; }

.espada-1  { background-position:  0px -280px; }
.espada-2  { background-position:  -100px -280px; }
.espada-3  { background-position:  -200px -280px; }
.espada-4  { background-position:  -300px -280px; }
.espada-5  { background-position:  -400px -280px; }
.espada-6  { background-position:  -500px -280px; }
.espada-7  { background-position:  -600px -280px; }
.espada-10 { background-position:  -700px -280px; }
.espada-11 { background-position:  -800px -280px; }
.espada-12 { background-position:  -900px -280px; }

.basto-1  { background-position:  0px -420px; }
.basto-2  { background-position:  -100px -420px; }
.basto-3  { background-position:  -200px -420px; }
.basto-4  { background-position:  -300px -420px; }
.basto-5  { background-position:  -400px -420px; }
.basto-6  { background-position:  -500px -420px; }
.basto-7  { background-position:  -600px -420px; }
.basto-10 { background-position:  -700px -420px; }
.basto-11 { background-position:  -800px -420px; }
.basto-12 { background-position:  -900px -420px; }



/* CREATE ********************************************/

form div{
	float:left;
	width: 100%;
	margin: 20px;
}

/* PLAY ********************************************/

h1{
	font-family: Terminal, Verdana, Geneva, sans-serif;
	font-size: 30px;
	color: #1a8401;
	margin:0;
}

div.left{
	width:280px;
	height:450px;
	float:left;
	margin-right: 20px;
}

div.right{
	width:700px;
	height:450px;
	float:left;
}

div.bottom{
	width:1000px;
	height:180px;
	float:left;
	background-color:#fff;
	margin-top: 15px;
	border:solid 2px silver;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
}

dl#console{
	list-style:none;
	border:solid 2px #656565;
	font-size:16px;
	height: 370px;
	width:276px;
	overflow-y:auto;
	overflow-x:hidden;
	background-color:#ebebeb;
	float:left;
	margin:0;
	color: #000;
}

dl#console dt {
	font-weight: bold;
	float:left;
}

dl#console dd {
	float:none;
}

input#txtChat{
	border: solid 2px #656565;
	border-top: none;
	width:280px;
	background-color:#ebebeb;
	font-size:16px;
	height:30px;
}

div.gameStatus {
	margin-top: 30px;
	position:relative;
	width:700px;
	height:410px;
	background:url('../images/carpet.png');
	background-position:  0px 0px;
	background-repeat: no-repeat;
}

/* Table - Player Positions *************************************************/

div.trumpCtn {
	position:absolute;
	top: 30px;
	left: 40px;
	width:130px;
	height:50px;
	line-height:2.5;
}

div.trump{
	background:url('../images/trumps.png');
	background-position:  0px 0px;
	background-repeat: no-repeat;	
	width:50px;
	height:50px;
	float:right;
	border:solid 2px silver;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.trump.trump-oro   { background-position:  0px 0px; }
div.trump.trump-copa  { background-position:  -50px 0px; }
div.trump.trump-espada{ background-position:  -100px 0px; }
div.trump.trump-basto { background-position:  -150px 0px; }

div#tableGame {
	background:url('../images/table.png');
	background-position:0 0;
	background-repeat: no-repeat;
	width: 520px;
	height:310px;
	position: absolute;
	top:70px;
	left:100px;
	z-index: 1;
}

div.plName{
	position: absolute;
	width:150px;
	text-align:center;
}

div.stolenCards{
	width:40px;
	height: 40px;
	position: absolute;
	background-position:0 0;
	background-repeat: no-repeat;
}

div.stolenCards.deck{
	background:url('../images/backdeck.png');
}

div.stolenCards.deck20s{
	background:url('../images/backdeck20.png');
}

div.stolenCards.deck40s{
	background:url('../images/backdeck40.png');
}

div.status{
	border: solid 3px #323232;
	background-color:silver;
	width: 40px;
	height: 40px;
	position: absolute;
	color: black;
	line-height: 2.4;
	text-align: center;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.droppedCard {
	border: solid 2px white;
	width:40px;
	height: 50px;
	position: absolute;
	
	color: black;
	font-size: 24px;
	font-weight: bold;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.available:hover div.status{
	background-color: green;
	cursor: pointer;
}

div.tableCard{
	background-color: white;
	background-image: url('../images/trumps.png');
	background-position:  0px 0px;
	background-repeat: no-repeat;	
}

div.tableCard.oro   { background-position:  0px 20px; }
div.tableCard.copa  { background-position:  -50px 20px; }
div.tableCard.espada{ background-position:  -100px 20px; }
div.tableCard.basto { background-position:  -150px 20px; }

div.pos-0, div.pos-1, div.pos-2, div.pos-3, div.pos-4{
	width: 170px;
	height: 170px;	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	position: absolute;
	z-index: 2;
}

div.pos-0 {
	top:90px;
	left:465px;	
}

div.pos-0 div.plName{
	top:0;
	left:10px;	
}

div.pos-0 div.stolenCards{
	top:25px;
	left:120px;	
}

div.pos-0 div.status{
	top:25px;
	left:70px;	
}

div.pos-0 div.droppedCard{
	top:80px;
	left:0;	
}



div.pos-1 {
	top:25px;
	left:275px;	
}

div.pos-1 div.plName{
	top:0;
	left:10px;	
}

div.pos-1 div.stolenCards{
	top:25px;
	left:120px;	
}

div.pos-1 div.status{
	top:25px;
	left:70px;	
}

div.pos-1 div.droppedCard{
	top:115px;
	left:70px;
}



div.pos-2 {
	top:90px;
	left:90px;	
}

div.pos-2 div.plName{
	top:0;
	left:0;	
}

div.pos-2 div.stolenCards{
	top:25px;
	left:0;	
}

div.pos-2 div.status{
	top:25px;
	left:50px;	
}

div.pos-2 div.droppedCard{
	top:80px;
	left:128px;	
}


div.pos-3 {
	top:250px;
	left:155px;	
}

div.pos-3 div.plName{
	top:120px;
	left:0;	
}

div.pos-3 div.stolenCards{
	top:75px;
	left:0;	
}

div.pos-3 div.status{
	top:75px;
	left:50px;	
}

div.pos-3 div.droppedCard{
	top:0;
	left:128px;	
}


div.pos-4 {
	top:250px;
	left:400px;	
}

div.pos-4 div.plName{
	top:120px;
	left:15px;	
}

div.pos-4 div.stolenCards{
	top:75px;
	left:125px;	
}

div.pos-4 div.status{
	top:75px;
	left:75px;	
}

div.pos-4 div.droppedCard{
	top:0;
	left:0;	
}

div.playerCalls{
	float:right;
	width:690px;
	position: relative;
	height: 30px;
}

div.playerCalls a {
	float: right;
	margin-right: 30px;
	cursor: pointer;
}




